<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="stuff, to, help, search, engines, not" name="keywords">
        <meta content="What this page is about." name="description">
        <meta content="Display Webcam Stream" name="title">
        <title>Display Webcam Stream</title>
        <style>
         #container {
             margin: 0px auto;
             width: 500px;
             height: 375px;
             border: 10px #333 solid;
         }
         #videoElement {
             width: 500px;
             height: 375px;
             background-color: #666;
         }
        </style>
    </head>
    <body>
        <div id="container">
            <video autoplay="true" id="videoElement">
            </video>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
